<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aed9f0">  <td>18/10/30 21:39:43</td>   <td>0</td> <td title="&lt;&lt;ProjectMethodsCL.afterSuite()[pri:0, instance:testcases.TC324102018ML@a67c67e]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@922872566</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/30 21:38:35</td>   <td>-68293</td> <td title="&gt;&gt;ProjectMethodsCL.beforeSuite()[pri:0, instance:testcases.TC324102018ML@a67c67e]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@922872566</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/30 21:39:08</td>   <td>-35222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethodsCL.closeApp()[pri:0, instance:testcases.TC324102018ML@a67c67e]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@922872566</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/30 21:39:41</td>   <td>-2229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethodsCL.closeApp()[pri:0, instance:testcases.TC324102018ML@a67c67e]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@922872566</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/30 21:38:37</td>   <td>-66098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethodsCL.login()[pri:0, instance:testcases.TC324102018ML@a67c67e]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@922872566</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>18/10/30 21:39:10</td>   <td>-33082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethodsCL.login()[pri:0, instance:testcases.TC324102018ML@a67c67e]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@922872566</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/30 21:38:54</td>   <td>-49342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC324102018ML.mergeLead(java.lang.String)[pri:0, instance:testcases.TC324102018ML@a67c67e]">mergeLead</td> 
  <td>main@922872566</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/30 21:39:27</td>   <td>-16480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC324102018ML.mergeLead(java.lang.String)[pri:0, instance:testcases.TC324102018ML@a67c67e]">mergeLead</td> 
  <td>main@922872566</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/10/30 21:38:35</td>   <td>-67869</td> <td>&nbsp;</td><td title="&gt;&gt;TC324102018ML.setData()[pri:0, instance:testcases.TC324102018ML@a67c67e]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@922872566</td>   <td></td> </tr>
</table>
